body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

/* Ajout gaëtan */

.footer {
  padding-top: 50px;
  background-color: #1c2b3d;
}

.footer_social_link,
.nav-categorie,
.nav-services,
.nav_programme,
.nav_services {
  color: white;
  list-style-type: none;
}

/* Définiton de la couleur du bouton */
.btn-info,
.btn-info:hover {
  background-color: #75b984;
  color: white;
  border-color: #75b984;
  margin-top: 10px;
}

/* position du bouton dans le footer */
.footer_btn {
  text-align: right;
}

.footer_name_adresse {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.footer_name {
  width: 36%;
}

.footer_adresse {
  width: 60%;
}

hr {
  border: 1px solid white;
}
/* .footer_message {
  margin-left: 10;
  margin-right: 10;
  width: 100%;
} */
svg {
  margin: 10px;
  margin-bottom: 0;
}

.nav-categorie, .nav-services {
  margin: 0;
  padding-left: 0;
}

.nav_services {
  margin-top: 15px;
}